<!--<div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eos unde delectus, iure praesentium, a nihil, esse consequuntur
    debitis ea et molestiae porro quibusdam blanditiis deserunt tempore! Laudantium, consequatur architecto. Eum recusandae,
    earum quisquam esse, porro accusamus ipsum perspiciatis tempora commodi rem deserunt modi natus labore eligendi odit,
    alias quibusdam! Aperiam molestias ab neque, excepturi temporibus beatae dolore sint impedit? Temporibus iure error tempora
    delectus explicabo illo earum possimus eius enim omnis facere nisi repellendus quae ipsum reiciendis officia, amet ipsa!
    Eaque aut iure nulla voluptatum temporibus nesciunt libero perspiciatis?
  </p>
</div>-->
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eos unde delectus, iure praesentium, a nihil, esse consequuntur
    debitis ea et molestiae porro quibusdam blanditiis deserunt tempore! Laudantium, consequatur architecto. Eum recusandae,
    earum quisquam esse, porro accusamus ipsum perspiciatis tempora commodi rem deserunt modi natus labore eligendi odit,
    alias quibusdam! Aperiam molestias ab neque, excepturi temporibus beatae dolore sint impedit? Temporibus iure error tempora
    delectus explicabo illo earum possimus eius enim omnis facere nisi repellendus quae ipsum reiciendis officia, amet ipsa!
    Eaque aut iure nulla voluptatum temporibus nesciunt libero perspiciatis?
  </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>